language: python
sudo: false
branches:
    only:
      - master
python:
  - "2.7"
cache: pip
install:
  - pip install -r requirements.txt
  - pip install -r django_requirements.txt
  - pip install codecov
script:
  - make test doc quality
after_success:
  - codecov
