language: python
python:
  - "2.7"
install:
  - pip install -r requirements.txt
  - pip install -r django_requirements.txt
  - pip install coveralls
script:
  - coverage run -m nose
  - cd doc
  - make html
  - cd ..
  - pep8 --exclude="doc/*"
  - script/max_pylint_violations 30
after_success:
  - coveralls
