language: python
sudo: false
python:
  - '3.8'
cache: pip
install:
  - pip install -r requirements/travis.txt
env:
  - TOX_ENV=docs
  - TOX_ENV=quality
  - TOX_ENV=django22

script:
  - tox -e $TOX_ENV
after_success:
  - codecov
deploy:
  provider: pypi
  user: edx
  password:
    secure: GMMSN5LVnZjrolwh293uIM9oxdl7NP6ksUzuiupHuFhW6KdxL9YWmQ+XNal6uThPoShmOdjpAvjAmff2q+mp495bH8epiRt700VHw4t+3eUmdUD2Xan3dg+iX3mg6jaDRwmgALd6NAbUSI9GPffd8m3SrvmwjyHMcM+/JWpjlcY=
  distributions: sdist bdist_wheel
  on:
    tags: true
    python: 3.8
    condition: $TOX_ENV = quality
