# 3rd-party needs
future
pyyaml
lxml
webob>=1.6.0
simplejson
pytz
python-dateutil
markupsafe

# For Tests
mock
nose
coverage
astroid
pylint
rednose
pep8
caniusepython3
diff-cover >= 0.2.1
ddt==0.8.0

# For docs
-r doc/requirements.txt

# For generating new XBlocks
cookiecutter

# Our own XBlocks
-e .

# pyfilesystem
fs
