# 3rd-party needs
lxml
requests
webob
simplejson
pytz

# For Tests
mock
nose
coverage
pylint == 0.28
rednose
pep8
diff-cover >= 0.2.1

# For docs
-r doc/requirements.txt

# For generating new XBlocks
cookiecutter

# Our own XBlocks
-e .
