<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/css/workbench.css">
        <style type="text/css">
        .data_label {
            margin-left: -8em;
            float: left;
        }
        .data {
            margin: .5em 0 0 8em;
        }
        .data p {
            margin: 0;
        }
        .student_view {
            margin: 1em;
        }
        </style>
        <script>
            // TODO: This should be handled more modularly.
            student_id = '{{student_id}}';
        </script>
        {{head_html|safe}}
    </head>
    <body>
        <header>
            <h1>XBlock: {{scenario.description}}</h1>
        </header>
        <section class="main">
            <div class="student_view">
                {{body|safe}}
            </div>
            <hr />
            <div class="data">
                <span class="data_label">Log</span>
                {{log|safe}}
                &nbsp;
            </div>
            <div class="data">
                <span class="data_label">Database</span>
                {{database.as_html|safe}}
                &nbsp;
            </div>
            <div class="data">
                <span class="data_label">Block</span>
                {{block}}
            </div>
        </section>
    {{foot_html|safe}}
    </body>
</html>
