<html>
    <head>
        <style type="text/css">
        .debug_child {
            background-color:grey;
            width: 200px;
            height: 100px;
            margin: 10px;
        }
        </style>
    </head>
    <body>
        <div class="content">
            {{module.content}}
        </div>
        <div class="runtime">
            {{module.runtime}}
        </div>
        <div class="course_settings">
            {{module.course_settings}}
        </div>
        <div class="user_preferences">
            {{module.user_preferences}}
        </div>
        <div class="student_state">
            {{module.student_state}}
        </div>
        <div class="student_view">
            {{student_view|safe}}
        </div>
    </body>
</html>
