<html>
    <head>
        <style type="text/css">
        .data_label {
            width: 8em;
            display: block;
            float: left;
        }
        </style>
        {{head_html|safe}}
    </head>
    <body>
        <!--
        <div class="runtime">
            {{module.runtime}}
        </div>
        -->
        <div class="model">
            <span class="data_label">Content</span>
            {{module.model}}
        </div>
        <hr />
        <div class="student_view">
            {{body|safe}}
        </div>
    </body>
</html>
