<html>
    <head>
        <style type="text/css">
        .data_label {
            width: 8em;
            display: block;
            float: left;
        }
        </style>
        {{head_html|safe}}
    </head>
    <body>
        <!--
        <div class="runtime">
            {{module.runtime}}
        </div>
        -->
        <div class="content">
            <span class="data_label">Content</span>
            {{module.content}}
        </div>
        <div class="student_preferences">
            <span class="data_label">Preferences</span>
            {{module.student_preferences}}
        </div>
        <div class="student_info">
            <span class="data_label">Student Info</span>
            {{module.student_info}}
        </div>
        <div class="student_state">
            <span class="data_label">Student State</span>
            {{module.student_state}}
        </div>
        <hr />
        <div class="student_view">
            {{body|safe}}
        </div>
    </body>
</html>
