<html>
    <head>
        <script>
            // TODO: This should be handled more modularly.
            student_id = '{{student_id}}';
            handlerBaseUrl = '{% url workbench_index %}handler/';
        </script>
        {{head_html|safe}}
    </head>
    <body class="view-workbench">
        <div class="wrapper-workbench">
            <div class="workbench">
                <div class="preview student_view">
                    {{body|safe}}
                </div>

                {{foot_html|safe}}
            </div>
        </div>
    </body>
</html>
