{% load staticfiles %}
<html>
    <head>
        <link rel="stylesheet" type="text/css"
              href="{% static 'workbench/css/workbench.css' %}">
        <script>
            // TODO: This should be handled more modularly.
            studentId = '{{student_id}}';
            handlerBaseUrl = '{% url workbench_index %}handler/';
        </script>
        {{head_html|safe}}
    </head>
    <body class="view-workbench">
        <div class="wrapper-workbench">
            <div class="workbench">
                <header class="banner" role="banner">
                    <h1 class="title" >XBlock: {{scenario.description}}</h1>
                </header>

                <section class="main">
                    <div class="preview student_view">
                        {{body|safe}}
                    </div>

                    {{foot_html|safe}}
                </section>

                <section class="debug">
                    <div class="data">
                        <span class="label">Log</span>

                        {{log|safe}}
                    </div>

                    <div class="data">
                        <span class="label">Database</span>

                        {{database.as_html|safe}}
                    </div>

                    <div class="data">
                        <span class="label">Block</span>

                        {{block}}
                    </div>
                </section>
            </div>
        </div>
    </body>
</html>
