{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css"
              href="{% static 'workbench/css/workbench.css' %}">
    </head>
    <body class="view-workbench">
        <div class="wrapper-workbench">
            <div class="workbench">
                <header class="banner" role="banner">
                    <h1 class="title">XBlock scenarios</h1>
                </header>
                <section class="main">
                    {% for scname, desc in scenarios %}
                        <p><a href="{% url workbench_show_scenario scname %}">{{desc}}</a></p>
                    {% endfor %}
                </section>
            </div>
        </div>
        <div>
            <form method="POST" action="{% url workbench.views.reset_state %}">
                <input type="submit" value="Reset State"/>
            </form>
        </div>
    </body>
</body>
