<html>
    <head>
        <style type="text/css">
        .data_label {
            margin-left: -8em;
            float: left;
        }
        .data {
            margin: .5em 0 0 8em;
        }
        .data p {
            margin: 0;
        }
        </style>
        {{head_html|safe}}
    </head>
    <body>
        <div class="student_view">
            {{body|safe}}
        </div>
        <hr />
        <div class="data">
            <span class="data_label">Usage</span>
            {{usage}}
        </div>
        <div class="data">
            <span class="data_label">Block</span>
            {{block}}
        </div>
        <div class="data">
            <span class="data_label">Database</span>
            {{database.as_html|safe}}
        </div>
    </body>
</html>
